<div class="grid-template-dashboard">
  <app-nav-bar></app-nav-bar>
  <div class="grid-content">
    <app-section-menu></app-section-menu>
    <div class="grid-content-dashboards">
      <div class="content-graph">
        <app-sales-report class="items"></app-sales-report>
        <app-yearly-sales class="items"></app-yearly-sales>
        <app-sales-report class="items"></app-sales-report>
        <app-yearly-sales class="items"></app-yearly-sales>
      </div>

      <div class="footer" style="grid-area: e">
        <div>
          <h1>NEW MEMBERS</h1>
          <label>IN NUMBERS</label>
        </div>

        <img src="../assets/high.svg" alt="" />
        <div>
          <h1>LAST YEAR</h1>
          <h1>1,925,024</h1>
        </div>

        <img src="../assets/high.svg" alt="" />
        <div>
          <h1>THIS YEAR</h1>
          <h1>1,052,078</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
