<aside>
  <span>
    <img [src]="logo" alt="Logo">
    Business
  </span>
  <span class="dashboard">
    <img [src]="dashboard" alt="Dashboard">
    Dashboard
  </span>
  <span class="our-projects">
    <img [src]="ourProject" alt="OurProjects">
    OurProjects
  </span>
  <span class="members">
    <img [src]="members" alt="Member">
    Members
  </span>
  <span class="email">
    <img [src]="email" alt="E-mail">
    E-mail
  </span>
  <span class="chat-support">
    <img [src]="chatSupport" alt="Chat Support">
    Chat Support
  </span>
  <span class="time-table">
    <img [src]="timeTable" alt="Time Table">
    Time Table
  </span>
  <span class="contact">
    <img [src]="contact" alt="Contact">
    Contact
  </span>
  <div class="footer-menu">
    <label>Used Space:</label>
    <p>Admin Updated @ 9:00 AM </p>
    <p>MAY, 13, 2022</p>
  </div>
</aside>
